// Variables

// Breakpoints

$mobile:  320px;
$phablet: 520px;
$tablet:  740px;
$desktop: 960px;
$wide:    1300px;

// Colors
$red: #B22222;
$gray: #9C9C9C;
$gray-light: #BCBCBC;
$gray-lighter: #EEEEEE;
$gray-dark: #3E3E3E;

$margin-base: 10px;
