.footer-nav {
  margin: 0;
  text-align: center;

  @include mq(tablet) {
    display: flex;
    text-align: left;
  };

  &__item {
    margin-bottom: $margin-base;

    @include mq(tablet) {
      margin-right: -4px;

      &:not(:last-child):after {
        content: '|';
        color: $gray;
        font-size: 12px;
        margin-right: $margin-base;
      }
    }
  }

  &__link {
    color: $gray;
    font-size: 12px;
    text-transform: uppercase;
    transition: color .2s ease;

    &:hover {
      color: $gray-dark;
    }
  }
}
