.l-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $gray-lighter;
  border-top: 2px solid $gray-light;
  padding: 40px 0;
}

.legal-text {
  font-size: 10px;
  text-transform: uppercase;
  color: $gray;
}
