.l-header {
  @include cf;

  padding-top: 20px;
  padding-bottom: 20px;

  @include mq($tablet) {
    @include center($desktop, $pad: 20px);
    display: flex;
    align-items: center;
  };

  &__logo {
    text-align: center;
    margin-bottom: 20px;

    @include mq($tablet) {
      @include col(3/5);
      text-align: left;
      margin-bottom: 0;

    }
  }

  &__form {
    text-align: center;

    @include mq($tablet) {
      @include col(2/5);

      text-align: right;
    }
  }
}
